---
layout: default
---

<div class="home">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
  <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
  <ul class="post-list">
    {%- for post in site.posts -%}
    <li class="post-card">
      {%- assign thumb = post.thumbnail | default: "/assets/thumbnails/thumbnail.png" -%}
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <div class="post-card-header">
        <img src="{{ thumb | relative_url }}" alt="{{ post.title | escape }}" class="post-thumbnail">

        <div class="post-card-content">
          <span class="post-meta">
            {{ post.date | date: date_format }}
          </span>

          <h3>
            <a class="stretched-link" 
               href="{{ post.url | relative_url }}">
                  {{ post.title | escape }}
            </a>
          </h3>

          {{ post.excerpt }}

          <a class="read-more" href="{{ post.url | relative_url }}">
            Continue reading →
          </a>
        </div>
      </div>
    </li>
    {%- endfor -%}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ " /feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>